<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#" style="    margin: 0px;
    padding: 0px;">
        <img src="/assets/img/logo.svg" alt="" style="max-width:200px;">
      </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="container">
    <app-difficult-game-options></app-difficult-game-options>
    <div *ngIf="apiService.pokemonSelected">
      <app-pokemon-to-discovery></app-pokemon-to-discovery>
    </div>
    

    <app-discovery-panel></app-discovery-panel>

      
  </div>
  