<div class="card border-primary mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col col-md-6">
        <form (ngSubmit)="validPokemon()">
          <div class="input-group mb-3">
            <input
              #key="ngModel"
              name="key"
              type="text"
              class="form-control"
              placeholder="search your pokemon"
              [(ngModel)]="keyValid"
              aria-label=""
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="validPokemon()"
                type="button"
              >
                Who is That Pokemon
              </button>
            </div>
          </div>
        </form>
        <div
          class="alert alert-dismissible alert-primary"
          *ngIf="display_not_found"
        >
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          <strong>Oh sorry!</strong> that's not the pokemon, try again
        </div>
      </div>
      <div class="col col-md-6 text-center">
        <button class="btn btn-success">Found: {{ listFound.length }}</button>
        <button class="btn btn-primary">Wrong: {{ listWrong.length }}</button>
        <div style="margin-top:10px;">
          <div *ngFor="let item of listLog">
            <p style="margin: 0px;">
              {{item.answer}} 
              <i class="{{item.type? 'fas fa-check i-green':'fas fa-times i-red'}}" ></i>
            </p>
            
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
